
SMP/bin/Debug/logs/2011-29-08_11-29-59_server.log

*.log
bin/*
obj/*
SMP/bin/Debug/zlib.net.dll

SMP/bin/Debug/SMP.exe.mdb

SMP/bin/Debug/SMP.exe

SMP/SMP.pidb

/SMP/SMP.csproj.user
/SMP/bin/Debug/SMP.pdb
/SMP/bin/Debug/SMP.vshost.exe
/SMP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SMP/obj/x86/Debug/ResolveAssemblyReference.cache
/SMP/obj/x86/Debug/SMP.csproj.FileListAbsolute.txt
/SMP/obj/x86/Debug/SMP.exe
/SMP/obj/x86/Debug/SMP.pdb
/SMP/bin/Debug/SMP.vshost.exe.manifest
/SMP/NBToolkit/License.txt
/SMP/NBToolkit/NDesk/.svn/all-wcprops
/SMP/NBToolkit/NDesk/.svn/entries
/SMP/NBToolkit/NDesk/.svn/text-base/Options.cs.svn-base
/SMP/Substrate/Source/.svn/all-wcprops
/SMP/Substrate/Source/.svn/entries
/SMP/Substrate/Source/.svn/text-base/AlphaBlock.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/AlphaBlockCollection.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/AlphaBlockRef.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/AlphaChunkManager.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/AlphaWorld.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/BetaChunkManager.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/BetaWorld.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/BlockInfo.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/BlockManager.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/CacheTable.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Chunk.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/ChunkRef.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Data.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Entity.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/EntityCollection.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/EntityFactory.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Item.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/ItemInfo.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Level.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/LevelIOException.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/NbtWorld.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Orientation.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Player.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/PlayerIOException.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/PlayerManager.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Region.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/RegionManager.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/SpawnPoint.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/SubstrateException.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/TileEntity.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/TileEntityFactory.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/Vector.cs.svn-base
/SMP/Substrate/Source/.svn/text-base/World.cs.svn-base
/SMP/Substrate/Source/Core/.svn/all-wcprops
/SMP/Substrate/Source/Core/.svn/entries
/SMP/Substrate/Source/Core/.svn/text-base/Base.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/BlockFluid.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/BlockInterface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/BlockKey.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/BlockLight.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/BlockTileEntities.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/BoundedBlockInterface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/ByteArray.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/ChunkCache.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/ChunkFile.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/ChunkInterface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/ChunkKey.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/IndexedLinkedList.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/Interface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/ItemInterface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/LRUCache.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/NBTFile.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/NibbleArray.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/OpenWorldEvent.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/PlayerFile.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/PlayerManagerInterface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/RegionFile.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/RegionInterface.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/RegionKey.cs.svn-base
/SMP/Substrate/Source/Core/.svn/text-base/UnboundedBlockInterface.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/all-wcprops
/SMP/Substrate/Source/Entities/.svn/entries
/SMP/Substrate/Source/Entities/.svn/text-base/EntityArrow.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityBoat.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityChicken.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityCow.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityCreeper.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityEgg.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityFallingSand.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityGhast.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityGiant.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityItem.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityMinecart.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityMinecartChest.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityMinecartFurnace.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityMob.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityMonster.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityPainting.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityPig.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityPigZombie.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityPrimedTnt.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntitySheep.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntitySkeleton.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntitySlime.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntitySnowball.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntitySpider.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntitySquid.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityThrowable.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityWolf.cs.svn-base
/SMP/Substrate/Source/Entities/.svn/text-base/EntityZombie.cs.svn-base
/SMP/Substrate/Source/ImportExport/.svn/all-wcprops
/SMP/Substrate/Source/ImportExport/.svn/entries
/SMP/Substrate/Source/ImportExport/.svn/text-base/Schematic.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/all-wcprops
/SMP/Substrate/Source/Nbt/.svn/entries
/SMP/Substrate/Source/Nbt/.svn/text-base/INbtObject.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/JSONSerializer.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/NbtIOException.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/NbtTree.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/NbtVerifier.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaNode.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaNodeArray.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaNodeCompound.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaNodeList.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaNodeScaler.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaNodeString.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/SchemaOptions.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNode.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeByte.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeByteArray.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeCompound.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeDouble.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeFloat.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeInt.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeList.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeLong.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeNull.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeShort.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagNodeString.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/TagType.cs.svn-base
/SMP/Substrate/Source/Nbt/.svn/text-base/VerifierLogger.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/all-wcprops
/SMP/Substrate/Source/TileEntities/.svn/entries
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityChest.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityFurnace.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityMobSpawner.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityMusic.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityPiston.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityRecordPlayer.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntitySign.cs.svn-base
/SMP/Substrate/Source/TileEntities/.svn/text-base/TileEntityTrap.cs.svn-base
/SMP/bin/Debug/SMP.exe.config
/SMP/bin/Debug/SMP.vshost.exe.config
/SMP/bin/Debug/LibNoise.dll
/SMP/bin/Debug/Ionic.Zlib.dll
/SMP/bin/Debug/System.Data.SQLite.DLL
/SMP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SMP/obj/Debug/SMP.csproj.FileListAbsolute.txt
/SMP/obj/Debug/SMP.exe
/SMP/obj/Debug/SMP.pdb
/SMP/bin/Release/SMP.exe.config
/SMP/bin/Release/SMP.vshost.exe
/SMP/bin/Release/SMP.vshost.exe.config
/SMP/bin/Release/SMP.vshost.exe.manifest
/SMP/obj/Debug/ResolveAssemblyReference.cache
/SMP/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/SMP/obj/Release/SMP.csproj.FileListAbsolute.txt